* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Lato", sans-serif;
}
p {
  margin: 10px 0;
  font-size: 1rem;
}
.container {
  background-color: white;
  width: 100%;
  padding: 11px 20px 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.header {
  width: 100%;
  text-align: center;
}
.btn {
  padding: 10px 30px;
  color: white;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  border: none;
  border-radius: 20px;
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
  text-transform: lowercase;
  max-width: 170px;
  text-align: left;
  cursor: pointer;
}
.btn_secondary {
  background-color: #40483a;
}
.btn_primary {
  background-color: #35660e;
}

/* PERSON CARD */

.person_card {
  background-color: rgba(54, 44, 44, 0.3);
  border-radius: 500px 60px 300px 100px;
  padding: 80px 10px 10px 40px;
  width: 100%;
  text-align: center;
  margin: 30px 0;
  box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.75);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.person_card h1 {
  flex-basis: 100%;
  margin-top: 20px;
  font-weight: 800;
}
.person_card p {
  width: 80%;
  margin-top: 20px;
  font-weight: 100;
  font-style: italic;
  margin: 0;
}
.person_img {
  width: 90%;
  max-height: 200px;
  border-radius: 200px 20px 100px 50px;
  object-fit: cover;
}
.person_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
}
.person_header img {
  max-height: 35px;
  max-width: 30px;
  margin: 10px 0;
}
.person_header > div {
  display: flex;
  gap: 5px;
}
.person_data {
  width: 75%;
  text-align: left;
  margin: 10px 0 30px 0;
}

/* FORM */

label {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  position: relative;
  display: block;
  margin-bottom: 20px;
}
input {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  width: 100%;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}


.form_container {
  padding: 50px 0 0 0;
  width: 100%;
}

.form_container h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  text-align: right;
  margin-bottom: 80px;
  position: relative;
}

.form_container h1::after {
  content: "";
  display: block;
  width: 166px;
  height: 10px;
  background-color: #071594;
  position: absolute;
  right: 0;
  bottom: -30px;
}

.checkbox {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  line-height: 30px;
  margin: 20px 0;
  max-width: 100%;
}
.checkbox input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkbox input:checked + span {
  background-color: #071594;
}

.checkbox span {
  cursor: pointer;
  height: 30px;
  flex-basis: 30px;
  flex-shrink: 0;
  border: 2px solid black;
  border-radius: 0.25rem;
  background-color: white;
}

.btn_submit {
  background-color: #071594;
  min-width: 200px;
  text-align: center;
  margin-left: calc((100% - 200px) / 2);
}
.error_message {
  color: #FF0000;
  font-weight: 300;
  font-style: italic;
}
.success_message {
  color: #35660e;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
/* BREAKPOINTS */

@media screen and (min-width: 400px) {
  .header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  .person_img {
    width: 75%;
  }
  .person_header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .form_container {
    width: 80%;
  }
  .error_message {
    text-align: right;
  }
  
}
@media screen and (min-width: 600px) {
  body {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 80vw;
    max-width: 720px;
  }
  .person_card {
    width: 80%;
  }
  .btn {
    font-size: 24px;
    max-width: 190px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 60vw;
    max-width: 60vw;
  }
  .person_card {
    width: 70%;
  }
  .person_card h1 {
    padding-left: 65px;
  }
}
